.mis-clases-container {
  display: flex;
  padding: 20px 45px;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

/* Estilos para la barra lateral */
.filter-sidebar {
  width: 25%;
  height: 100%;
  flex: 1;
  min-width: 250px; /* Ancho mínimo para la barra de filtros */
  padding: 20px;
  background-color: #f8f8f8;
  margin-right: 10px;
  border-radius: 21px 0px 0px 21px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-sidebar h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}


.filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Espacio entre los filtros */
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group input {
  margin-top: 3px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%; /* Asegura que los inputs ocupen todo el espacio */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

/* Ajustes para las filas de los filtros de hora */
.field-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espacio entre los dos campos */
}

.field-row .filter-group {
  flex: 1; /* Para que ambos campos ocupen el mismo espacio */
}

.field-row .filter-group input {
  width: 100%; /* Asegura que el input tome todo el ancho del contenedor */
}


.clear-filters-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-filters-button:hover {
  background-color: #0056b3;
}

/* Tabla de clases */
.classes-table-container {
  width: 75%;
  height: 85%;

}

.classes-table {
  width: 100%;
  border-collapse: collapse;
}

.classes-table th, .classes-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.classes-table th {
  background-color: #f2f2f2;
  color: #333;
}

.details-button, .cancel-button {
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

}

.details-button:hover, .cancel-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.cancel-button:hover {
  background-color: #b6b6b6;
}

/* Estilos para indicar el orden de la tabla */
.sortable-header {
  cursor: pointer; /* Indica que se puede hacer clic */
  position: relative; /* Para posicionar las flechas */
}

.sortable-header:after {
  content: ''; /* Para el ícono de orden */
  position: absolute;
  right: 10px; /* Ajusta según tu diseño */
  top: 50%;
  transform: translateY(-50%);
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.asc:after {
  border-bottom: 5px solid #007bff; /* Color de la flecha hacia arriba */
}

.desc:after {
  border-top: 5px solid #007bff; /* Color de la flecha hacia abajo */
}


/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}

.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Estilo para la lista de inscritos */
.inscritos-list {
  /* border: bisque; */
  background-color: #ffffff;
  padding: 20px;
  /* border-radius: 8px; */
  width: 100%;
  text-align: left;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
}

.inscritos-list h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

/* Estilo de la tabla de inscritos */
.inscritos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.inscritos-table th, .inscritos-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1.1rem;
}

/* Estilo de los encabezados de la tabla */
.inscritos-table th {
  background-color: #2679f7;
  color: white;
  font-weight: bold;
}

/* Estilo para las filas de la tabla */
.inscritos-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para las filas de la tabla cuando se pasa el mouse */
.inscritos-table tr:hover {
  background-color: #f1f1f1;
}

/* Botón de cerrar para inscritos */
.close-inscritos-buttons {
  margin-top: 20px;
  background-color: hsl(0, 100%, 39%);
  color: rgb(255, 255, 255);
  position: relative;
  left: 44%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

}


.close-inscritos-button:hover {
  background-color: #d9534f;
  color: #ffffff;
}

/* Fondo semitransparente cuando el modal está abierto */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido del modal */
.custom-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
}

/* Encabezado del modal */
.custom-modal-content h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

/* Estilos para los botones dentro del modal */
.custom-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.custom-modal-confirm-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-modal-confirm-button:hover {
  background-color: #45a049;
}

.custom-modal-cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-modal-cancel-button:hover {
  background-color: #d32f2f;
}

/* Animación de entrada suave para el modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1564px) {
  .filter-sidebar {
    order: 1; /* Mueve la barra de filtros al inicio */
  }
  .classes-table-container {
    order: 2;
    width: 100%;
    max-height: 300px; /* Altura máxima con scroll */
    overflow-x: scroll; /* Activa el scroll vertical */
  }

  .field-row {
    flex-direction: column; /* Hace que los filtros de tiempo se apilen */
  }
}
@media (max-width: 1000px) {
  .classes-table-container {
    order: 2;
    width: 100%;
    max-height: 300px; /* Altura máxima con scroll */
    overflow-x: scroll; /* Activa el scroll vertical */
  }


}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
  .classes-table-container {
    order: 2;
    width: 100%;
    max-height: 300px; /* Altura máxima con scroll */
    overflow-x: scroll; /* Activa el scroll vertical */
  }

  .classes-table {
    min-width: 600px; /* Asegura que la tabla mantenga su formato completo */
    display: block;
  }

  .classes-table th, .classes-table td {
    font-size: 14px;
    padding: 10px;
  }
}