/* Define la animación de aparición */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9); /* Escala inicial del modal */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Tamaño final del modal */
  }
}

/* Define la animación de desaparición */
@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1); /* Escala final del modal */
  }
  100% {
    opacity: 0;
    transform: scale(0.9); /* Escala inicial del modal */
  }
}

/* Estilos para la superposición del modal */
.exercise-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Evita que el fondo se desplace */
  animation: fadeInScale 0.3s ease-out;
}

.exercise-modal-overlay.closing {
  animation: fadeOutScale 0.3s ease-out; /* Aplica la animación de cierre */
}

/* Estilos del contenido del modal */
.exercise-modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh; /* Limita la altura para permitir el desplazamiento */
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInScale 0.3s ease-out;
}

/* Botón de cerrar */
.exercise-modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.exercise-modal-title {
  text-align: center;
  margin-bottom: 1rem;
  max-width: 96%;
}

.exercise-modal-image {
  width: 90%;
  max-height: 275px;
  object-fit: cover;
  margin-left: 25px;
}

.exercise-modal-details h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.exercise-modal-details p {
  margin-bottom: 0.5rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
