.plans-container {
    padding: 50px;
    margin-top: 63px;
  margin-bottom: 57px;
  }
  
  .plans-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .plan-card {
    flex: 1;
    min-width: 250px;
  }
  