.buscar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  max-width: 300px;
}

.alert-container.error {
  background-color: #f44336;
}

.search-box {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-select {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.client-table th, .client-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.client-table th {
  background-color: #f2f2f2;
}

.client-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.client-table tr:hover {
  background-color: #f1f1f1;
}

.client-table td {
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pagination button {
  background-color: #2679f7;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination span.active {
  font-weight: bold;
  color: #2679f7;
}

.back-button {
  background-color: #2679f7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #2561bc;
}

.enable-button, .disable-button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enable-button {
  background-color: #2679f7;
}

.enable-button:hover {
  background-color: #2561bc;
}

.disable-button {
  background-color: #f44336;
}

.disable-button:hover {
  background-color: #e53935;
}

.modal-overlay-buscar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInScale 0.3s ease-out;
}

.modal-content-buscar {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-content-buscar h2{
  margin-bottom: 10px;
}

.modal-buttons-buscar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-cancel-buscar, .modal-confirm-buscar {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-cancel-buscar {
  background-color: #f44336;
  color: white;
}

.modal-confirm-buscar {
  background-color: #2679f7;
  color: white;
}

@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
    align-items: center;
  }

  .search-input, .sort-select {
    width: 100%;
    margin-bottom: 10px;
  }

  .client-table th, .client-table td {
    padding: 8px;
    font-size: 14px;
  }
}