.category-circles {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 40px;
  }
  
  .category-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .category-circle:hover {
    transform: translateY(-10px);
  }
  
  .category-icon {
    font-size: 80px;
  }
  
  .category-name {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  