* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mantén la altura completa de la pantalla */
    background-color: #f0f0f0; /* Fondo gris claro */
}

.fondo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0; /* Quita el padding aquí para evitar espacio extra */
    margin: auto;
}

.fondo {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Imagen del logo arriba del formulario */
.ImagenLogo-login {
    width: auto;
    height: 80px;
    margin-bottom: 5px; /* Separa la imagen del formulario */
    cursor: pointer;
}

.contenedor-form-login {
    width: 100%;
    padding: 1px 32px 20px;
}

.contenedor-form-login h2 {
    text-align: center;
    font-size: 2rem;
}

.contenedor-input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 20px 0;
}

.contenedor-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.contenedor-input .icono {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1.4em;
    color: #000000;
    transform: translateY(-50%);
    line-height: 50px;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.recordar {
    font-size: 0.9em;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    text-align: center;
}

.recordar a {
    color: #000000;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #2679f7;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2561bc;
}

.error-message {
    margin-top: 15px;
}


/* Contenedor para los enlaces */
.links-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los enlaces */
    margin: 15px 0;
    font-size: 0.9em;
}

.forgot-password, 
.register-link {
    color: #2679f7; /* Color azul que se muestra en la imagen */
    cursor: pointer;
    margin: 0; /* Quita los márgenes individuales */
}

.forgot-password:hover, 
.register-link:hover {
    text-decoration: underline;
}

/* Estilo para el contenedor del checkbox */
.contenedor-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilo para el checkbox */
  .contenedor-checkbox input[type="checkbox"] {
    margin-right: 8px; /* Espacio entre el checkbox y el texto */
  }
  
  /* Estilo para el texto del checkbox */
  .contenedor-checkbox label {
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
  }
  
  /* Estilo para los enlaces */
  .login-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave para el color */
  }
  
  .login-link:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
    text-decoration: underline; /* Subrayar al pasar el ratón */
  }
  
  /* Separador entre enlaces */
  .login-separator {
    margin: 0 5px; /* Espaciado alrededor del separador */
  }
  