.product-page {
    padding: 40px;
    background-color: #f9f9f9;
    min-height: 100vh; /* Asegura que la página tenga un buen tamaño */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-details {
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 12px;
    max-width: 1200px;
    width: 100%;
    transition: transform 0.3s ease;
}

.product-details:hover {
    transform: scale(1.02); /* Pequeño efecto de zoom al pasar el mouse */
}

.product-image {
    height: 70%;
    width: 50%;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.product-info {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.product-info h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
}

.product-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.note {
    font-size: 14px;
    color: #888;
    margin-top: -10px;
    margin-bottom: 20px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.cta-button:hover {
    background-color: #2561bc;
    transform: translateY(-3px); /* Botón sube un poco al pasar el mouse */
}

.cta-button:active {
    transform: translateY(0); /* El botón vuelve a su lugar al hacer clic */
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-image, .product-info {
        width: 100%;
    }

    .product-info {
        text-align: center;
        align-items: center;
    }

    .cta-button {
        align-self: center;
    }
}
