.product-page {
    padding: 20px;
}

.product-details {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-image {
    width: 50%;
    border-radius: 8px;
    align-self: flex-start; 
}
.product-image {
    
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
    align-self: flex-start;
    object-fit: contain;
}


.product-info {
    width: 50%;
    text-align: right; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    position: relative;
    top: 60px;
}

.product-info h1 {
    margin-top: 31px;
    margin-bottom: 60px;
    position: relative;
    top: -10px;
  
}



.price {
    font-size: 24px;
    color: #333;
}

.note {
    font-size: 14px;
    color: #777;
}
.cta-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 100px;
}