.product-page {
  text-align: center;
  padding: 30px 0;
}

.product-page h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
  margin-top: 80px;
  margin-bottom: 30px;
}

.products-grid {
  width: 80%;
  display: flex;
  left: 10%;
  position: relative;
  gap: 0px;
  flex-wrap: wrap;
}

/* Ajustes para mantener un tamaño consistente en las tarjetas */
.product-card {
  width: 300px; /* Establecer un tamaño fijo para las tarjetas */
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05); /* Efecto de hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 200px; /* Tamaño fijo para las imágenes */
  object-fit: cover; /* Asegurarse de que las imágenes mantengan su proporción */
}

.product-card .product-info {
  padding: 15px;
  text-align: left;
  width: 100%;
}

.product-card .product-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-card .product-info p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.product-card .product-info .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #e74c3c;
}

.product-card .product-info .category {
  font-size: 0.9em;
  color: #999;
}

/* Mantener consistencia en las tarjetas sin agrandarlas */
.product-card .product-info.expanded {
  height: auto; /* Permite que la información expandida se ajuste */
  overflow: hidden; /* Esconder desbordamientos */
}
