.carousel {
  position: relative;
  width: 100vw; /* Cambia el ancho del carrusel al 70% del ancho de la ventana del navegador */
  max-width: 100%; /* Asegura que el carrusel no exceda el 70% del ancho de la ventana */
  height: 500px; /* Ajusta la altura del carrusel según tus necesidades */
  margin: 30px auto; /* Centra el carrusel horizontalmente y añade margen superior */
  overflow: hidden; /* Oculta el desbordamiento de las imágenes */
  margin-bottom: -35px;
}

.carousel-images-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Transición suave para el cambio de imagen */
}

.carousel-image {
  flex-shrink: 0;
  width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor del carrusel */
  height: 100%; /* Asegura que la imagen llene la altura del carrusel */
  object-fit: cover; /* Ajusta la imagen para cubrir el área del carrusel sin distorsión */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0); /* Fondo semitransparente para los botones */
  border: none;
  color: #fff; /* Color blanco para el texto */
  font-size: 2rem; /* Tamaño de fuente adecuado */
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Botones redondeados */
  padding: 10px; /* Espaciado interno para hacer los botones más grandes y clicables */
  transition: background 0.3s; /* Transición para el fondo del botón */
}



.carousel-button.prev {
  left: 20px; /* Ajuste de posición para mayor accesibilidad */
}

.carousel-button.next {
  right: 20px; /* Ajuste de posición para mayor accesibilidad */
}
