.rutina-admin-container {
  text-align: center;
  margin-top: 132px;
  margin-bottom: 17.2%;
}

.rutina-admin-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-modificar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #2679f7;
  color: white;
}

.btn-añadir {
  background-color: #e9eaeb;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.fas {
  font-size: 1.2em;
}


/* Formulario Cliente */

.formularioXD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.formularioXD .input-container {
  position: relative;
  width: 100%;
}

.formularioXD .search-input {
  width: calc(100% - 40px); /* Ajustar el ancho para hacer espacio para el botón de búsqueda */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formularioXD .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.formularioXD .dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}

.formularioXD .dropdown-list-item:hover {
  background-color: #f0f0f0;
}

.formularioXD .no-results {
  padding: 10px;
  color: #999;
}









span {
  color: #000;
}

.ejercicios-cliente {
  margin-top: 20px;
  /* Espacio general en la parte superior */
}

.return-btn{
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 8px;
  background-color: #2679f7;
  color: white;
  width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  align-self: center;
}

.ejercicios-cliente h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

.ejercicios-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ejercicio-card {
  margin-top: 20px;
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  width: 23%;
  /* Ajusta el ancho según la cantidad de ejercicios */
  text-align: center;
  margin-bottom: 40px;
  /* Espacio entre tarjetas */
}

.ejercicio-card .televisor-screen {
  display: block;
  width: 320px;
  height: 160px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 0 auto 20px;
  /* Espacio entre el televisor y el título del ejercicio */
}

.ejercicio-info h3 {
  margin-top: 20px;
  /* Espacio superior para el título del ejercicio dentro de la tarjeta */
  margin-bottom: 20px;
  /* Espacio inferior para separar del primer input */
  font-size: 1.5em;
}

.input-container {
  margin-bottom: 15px;
  /* Espacio entre los inputs */
}

.input-container label {
  margin-right: 10px;
  /* Espacio entre la etiqueta y el input */
}

.actualizar-btn {
  display: inline-flex;
  /* Cambiado de flex a inline-flex para centrar el botón como un elemento en línea */
  align-items: center;
  justify-content: center;
  /* Asegura que el contenido del botón esté centrado */
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  cursor: pointer;
  background-color: #2679f7;
  color: white;
  margin: 20px;

}

input[type="number"] {
  width: 100px;
  /* Ajusta el ancho del input según tu preferencia */
}

/* Ocultar flechas en Chrome, Safari y Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*RutinaCliente*/

.ejercicios-cliente-cliente{
  margin-top: 120px;
  text-align: center;
  margin-bottom: 9%;
}
  


.ejercicios-cliente-cliente h2{
  font-size: 3em;
}


.return-btn-cliente{
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 8px;
  background-color: #2679f7;
  color: white;
  width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  align-self: center;
}

.ejercicios-list-cliente {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ejercicio-card-cliente {
  margin-top: 20px;
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  width: 23%;
  /* Ajusta el ancho según la cantidad de ejercicios */
  text-align: center;
  margin-bottom: 40px;
  /* Espacio entre tarjetas */
}

.ejercicio-card-cliente .televisor-screen-cliente {
  display: block;
  width: 320px;
  height: 160px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 0 auto 20px;
  /* Espacio entre el televisor y el título del ejercicio */
}

.ejercicio-info-cliente h3 {
  margin-top: 20px;
  /* Espacio superior para el título del ejercicio dentro de la tarjeta */
  margin-bottom: 20px;
  /* Espacio inferior para separar del primer input */
  font-size: 1.5em;
}

.input-container-cliente {
  margin-bottom: 15px;
  /* Espacio entre los inputs */
}

.input-container-cliente label {
  margin-right: 10px;
  /* Espacio entre la etiqueta y el input */
}





/*Añadir Rutina*/

.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* Centra el formulario horizontalmente dentro del contenedor */
}

/* Estilo del formulario */
.form-container form {
  background-color: #ffffff;
  /* Color de fondo del formulario */
  width: 400px;
  /* Ancho del formulario ajustado */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Estira los inputs para que ocupen todo el ancho */
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra sutil */
  transition: max-height 0.3s ease-out;
  /* Transición suave para el despliegue */
  margin: 0;
  /* Elimina márgenes adicionales que puedan afectar el centrado */
  margin-bottom: 19.5%;
}

/* Estilo de las etiquetas */
.form-container label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  /* Color de texto de las etiquetas */
  font-size: 27px;
}

/* Estilo de los selectores */
.form-container select {
  padding: 10px;
  /* Mayor padding para los selectores */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Ancho completo del formulario */
  margin-top: 10px;
}

/* Estilo del botón dentro del formulario */
.form-container form button {
  padding: 10px;
  background-color: #2679f7;
  /* Verde */
  color: white;
  width: 120px;
  /* Ancho del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  /* Centra el botón horizontalmente dentro del formulario */
}

/* Mensaje */

.confirmacion-container {
  text-align: center;
  background-color: #e8f5e9;
  /* Verde claro */
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 20px;
}

.checkmark {
  font-size: 48px;
  color: #1b5e20;
  /* Verde oscuro */
  margin-bottom: 10px;
}

.botonVolver {
  margin-top: 20px;
  padding: 8px;
  background-color: #2679f7;
  /* Verde */
  color: white;
  width: 120px;
  /* Ancho del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}




/* Rutinas Cliente */

.rutina-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 20px; /* Reducido de 90px */
}

.rutina-container h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 10px;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.error-text {
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.confirmation-wrapper {
  text-align: center;
}

.confirmation-checkmark {
  font-size: 3em;
  color: #28a745;
  margin-bottom: 10px;
}

.confirmation-message {
  margin-bottom: 20px;
}

.return-button {
  padding: 10px 20px;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}
.nose{
  align-items: center;
  position: relative;
  margin-top: 49px;
  display: flex;
  left: 33%;
  margin-bottom: 40px;
}