.rutina-admin-container {
  text-align: center;
  margin-top: 8%;
  transition: margin-bottom 0.5s ease-in-out, width 1s ease-in-out, max-height 1s ease-in-out;
}

.rutina-admin-container.no-margin-bottom {
  margin-bottom: 0; /* Elimina el margin-bottom al hacer clic en un botón */
}

.rutina-admin-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.button-container-rutina {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.btn-modificar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #2679f7;
  color: white;
  box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.btn-modificar:hover{
  background-color: #2561bc;
}

.btn-añadir {
  background-color: #e9eaeb;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.fas {
  font-size: 1.2em;
}

.Cotenedor-image{
  width: 300px; /* Ancho del área visible */
  height: 200px; /* Alto del área visible */
  overflow: hidden; /* Oculta la parte de la imagen que queda fuera del contenedor */
  position: relative;
  margin: auto auto 5.8%;
}

.imagen-referencia{
  position: absolute;
  top: 50%; /* Centra la imagen verticalmente */
  left: 50%; /* Centra la imagen horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el centrado */
  width: 100%; /* Ajusta el ancho de la imagen al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}


/* Formulario Cliente */

.formularioXD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  margin: 30px auto 24.2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.formularioXD.no-margin {
  margin-bottom: 0; /* Eliminar margin-bottom cuando se selecciona un cliente */
}

.formularioXD label {
  font-size: 1.5rem;
  margin: 10px;
}

.formularioXD .input-container {
  position: relative;
  width: 100%;
}

.formularioXD .search-input {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formularioXD .dropdown-list {
  position: absolute;
  top: 79%;
  left: 7%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 86%;
}

.formularioXD .dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}

.formularioXD .dropdown-list-item:hover {
  background-color: #f0f0f0;
}

.formularioXD .no-results {
  padding: 10px;
  color: #999;
}







/* Ejercicios cliente*/


span {
  color: #000;
}

.ejercicios-cliente {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ejercicios-cliente h2 {
  margin: 20px auto;
  font-size: 2em;
}

.ejercicios-table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.ejercicios-table th,
.ejercicios-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.ejercicios-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.ejercicios-table input[type="text"],
.ejercicios-table input[type="number"] {
  width: 80px;
  padding: 5px;
  border: 1px solid #757575;
  border-radius: 3px;
}

.ejercicios-table input[type="text"] {
  width: 150px;
  margin-top: 5px;
}

.ejercicios-table button {
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ejercicios-table button:hover {
  background-color: #336dc2;
}

.ejercicios-table button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.video-thumbnail {
  max-width: 120px;
  max-height: 90px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actualizar-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3em;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 40px;
}

.actualizar-btn:hover {
  background-color: #1c5fc9;
}

.actualizar-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.error-alert {
  margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Propiedad estándar */
}



/* Rutina Cliente */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin: 4rem auto 1.5rem;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.exercise-card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exercise-card:hover {
  transform: translateY(-5px);
}

.exercise-image {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.exercise-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

.no-exercises {
  text-align: center;
  font-size: 1rem;
  color: #777;
  grid-column: 1 / -1;
}

.retuarn-btn-cliente {
  display: block;
  margin: 2.5rem auto 1.5rem;
  padding: 8px 16px;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
}

.retuarn-btn-cliente:hover {
  background-color: #1c5fd9;
}

@media (max-width: 768px) {
  .exercise-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .exercise-grid {
    grid-template-columns: 1fr;
  }
}



/*Añadir Rutina*/

.form-container-Rutina {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* Centra el formulario horizontalmente dentro del contenedor */
}

/* Estilo del formulario */
.form-container-Rutina form {
  background-color: #ffffff;  /* Color de fondo del formulario */
  width: 400px; /* Ancho del formulario ajustado */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Estira los inputs para que ocupen todo el ancho */
  gap: 10px;
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: max-height 0.3s ease-out;/* Transición suave para el despliegue */
  margin: 0; /* Elimina márgenes adicionales que puedan afectar el centrado */
  margin-bottom: 10%;
}

/* Estilo de las etiquetas */
.form-container-Rutina label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  /* Color de texto de las etiquetas */
  font-size: 27px;
}

/* Estilo de los selectores */
.form-container-Rutina select {
  padding: 10px;
  /* Mayor padding para los selectores */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Ancho completo del formulario */
  margin-top: 10px;
}

.InputNumber{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.client-list-Rutina {
  list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    border: 1px solid #000000;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.client-list-Rutina li {
  padding: 10px;
  cursor: pointer;
}

.client-list-Rutina li:hover {
  background-color: #e0e0e0;
}


/* Estilo del botón dentro del formulario */
.form-container-Rutina form button {
  padding: 10px;
  background-color: #2679f7;
  color: white;
  width: 120px;
  /* Ancho del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  /* Centra el botón horizontalmente dentro del formulario */
}

.confirmation-alert {
  width: 100%;
  /* Para que coincida con el ancho del botón */
  align-self: center;
  /* Centra el alerta igual que el botón */
  text-align: center;
  margin-top: 10px;
}




/* Rutinas Cliente */

.rutina-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 20px; /* Reducido de 90px */
}

.rutina-container h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 10px;
  background-color: #32ba32;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.error-text {
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.confirmation-wrapper {
  text-align: center;
}

.confirmation-checkmark {
  font-size: 3em;
  color: #28a745;
  margin-bottom: 10px;
}

.confirmation-message {
  margin-bottom: 20px;
}

.return-button {
  padding: 10px 20px;
  background-color: #2679f7; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}
.nose{
  align-items: center;
  position: relative;
  margin-top: 49px;
  display: flex;
  left: 33%;
  margin-bottom: 40px;
}

.return-btn-cliente {
  display: block;
  margin: 2.5rem auto 1.5rem;
  padding: 8px 16px;
  background-color: #2679f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
}

.return-btn-cliente:hover {
  background-color: #1c5fd9;
}